---
import FAQAccordion from './solid/FAQAccordion';
---

<section class="section" id="faq">
  <div class="container">
    <h2 class="section-title">Perguntas frequentes</h2>
    <FAQAccordion client:idle />
  </div>
</section>